.App {
  /* display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px; */
  padding-bottom: 24px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  background-image: url(../image/templatemo_main_bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.error {
  text-align: center;
  color: red;
  font-size: 32px;
}
